.cui-nav-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--cui-color-text);
  background: var(--cui-color-background);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background: var(--cui-color-hover);
  }

  &:active {
    background: var(--cui-color-active);
  }

  &:disabled {
    background: var(--cui-color-disabled);
    cursor: not-allowed;
  }

  & .cui-link-button {
    font-size: var(--cui-text-sm);
    padding-inline-end: 1rem;
  }

  svg {
    width: 21px;
    height: 21px;
  }
}

menu .cui-nav-list-item {
  padding: 0.4rem 1rem;
}
