:root {
  /* --cui-font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /* --cui-font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif; */
  /* --cui-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
  /* --cui-font-poppins: Poppins, sans-serif; */
  /* --cui-font-roboto: Roboto, sans-serif; */
  /* --cui-font-roboto-mono: "Roboto Mono", monospace; */
  --cui-font-inter: Inter, sans-serif;
}

html,
body {
  font-family: var(--cui-font-inter);
  font-size: var(--cui-text-base);
  line-height: var(--cui-text-base--cui-line-height);
  color: var(--cui-color-gray-900);
  background: var(--cui-color-white);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    color: var(--cui-color-gray-100);
    background: var(--cui-color-gray-900);
  }
}
